#game-container {
  text-align: center;
}
#login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.login-box {
  background: #111;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  width: 260px;
}

.login-box h2 {
  color: #fff;
  margin-bottom: 12px;
}

.login-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: none;
}

.login-box button {
  width: 100%;
  padding: 8px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*chat*/

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 280px;
  height: 360px;
  background: #1e1e1e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
}

.chat-header {
  padding: 12px;
  text-align: center;
  background: #2a2a2a;
  color: white;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chat-bubble.other {
  align-self: flex-start;
  background: #1e1e1e;
  color: white;
  border-bottom-left-radius: 2px;
}

.chat-input {
  display: flex;
  padding: 8px;
  gap: 6px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #2a2a2a;
  color: white;
}

.chat-input button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #4caf50;
  cursor: pointer;
  font-weight: bold;
}

.chat-input button:hover {
  background: #43a047;
}
.ul {
  margin-bottom: 10px;
  background-color: #1e1e1e;
  color: white;
}
.ul li {
  background-color: #1e1e1e;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-bubble:hover {
  background-color: #353535;
}

.chat-bubble .name {
  font-size: 12px;
  font-weight: 600;
  color: #25d366;
  margin: 0 0 2px 0;
}

.chat-bubble .text {
  font-size: 14px;
  color: #e9edef;
  margin: 0;
  line-height: 1.4;
  word-wrap: break-word;
}
